<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mашины</title>
</head>
<body>

<h1 th:text="${auto}"/>
<table class="table">
    <thead>
    <tr>
        <th scope="col">brand</th>
        <th scope="col">model</th>
        <th scope="col">series</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car: ${cars}">
        <td th:text="${car.brand}"/>
        <td th:text="${car.model}"/>
        <td th:text="${car.series}"/>
    </tr>
    </tbody>
</table>

</body>
</html>