<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.id})}" th:object="${user}">
    <input type="submit" value="Delete!"/>
</form>
<a th:href="@{/users/{id}/edit(id=${user.id})}">Изменить пользователя</a>
<a href="/users/new">Добавить пользователя</a>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">surname</th>
        <th scope="col">age</th>
        <th scope="col">mail</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${user}">
        <td th:text="${user.id}"/>
        <td th:text="${user.name}"/>
        <td th:text="${user.surname}"/>
        <td th:text="${user.age}"/>
        <td th:text="${user.mail}"/>
    </tr>
    </tbody>
</table>
</body>
</html>